################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/adet-midterm-q1-sorila-raquel/bin/Debug/netcoreapp3.1
